<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.jakemawson.launchstation.service</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Applications/Launch Station.app/Contents/Helpers/launchstationd</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <dict>
        <key>SuccessfulExit</key>
        <false/>
    </dict>
    <key>ProcessType</key>
    <string>Background</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>LANG</key>
        <string>en_US.UTF-8</string>
        <key>PATH</key>
        <string>__LAUNCH_STATION_HOME__/bin:/opt/homebrew/bin:/opt/homebrew/sbin:/usr/local/bin:/usr/local/sbin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
    <key>ThrottleInterval</key>
    <integer>5</integer>
    <key>AssociatedBundleIdentifiers</key>
    <array>
        <string>com.jakemawson.launchstation</string>
    </array>
    <key>StandardOutPath</key>
    <string>__LAUNCH_STATION_HOME__/Library/Logs/Launch Station/service.log</string>
    <key>StandardErrorPath</key>
    <string>__LAUNCH_STATION_HOME__/Library/Logs/Launch Station/service-error.log</string>
</dict>
</plist>
